@import "./normalize.css";
@import "./fonts.css";

:root {
  /* Colors */
  --black: #111;
  --blackAccent: #20201e;
  --white: #fffefe;
  --red: #e7003d;

  /* Colors intentions */
  --backgroundColor: var(--white);
  --textColor: var(--black);
  --headingColor: var(--blackAccent);

  /* Typography */
  --mainTitleFont: MalloryUltra, sans-serif;
  --headingFont: MalloryMedium, sans-serif;
  --bodyFont: MalloryBook, sans-serif;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;
}
@media screen and (max-width: 800px) {
  :root {
    --smallText: 0.7em;
  }
}

body {
  background-color: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-size: var(--smallText);
  line-height: 1.65;
  color: var(--textColor);
}

html {
  font-size: 100%;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--headingColor);
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  line-height: 1.15;
}

h1 {
  font-family: var(--mainTitleFont);
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--smallText);
}
