@import "./normalize.css";

:root {
  /* Colors as Colors */
  --color-black: #000000;
  --color-blackAccent: #20201e;
  --color-white: #fffefe;

  /* Colors as Intent */
  --color-primary: #20201e;
  --color-secondary: #e7003d;

  --metric-small: 8px;
  --metric-medium: 24px;
  --metric-large: 48px;

  --font-h1: 64px;
  --font-h2: 40px;
  --font-h3: 32px;
  --font-h4: 24px;
  --font-paragraph: 16px;
  --font-small: 8px;
}

@font-face {
  font-family: "Mallory";
  src: url("/Mallory Medium.ttf");
}

body {
  margin: 0;
  font-family: "Mallory", Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: var(--font-paragraph);
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

p {
  font-size: var(--font-paragraph);
}

a {
  color: inherit;
  font-size: var(--font-paragraph);
}
